* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
	background-color: #ccc;
	position: relative;
	height: 5rem;

	font-size: 2rem;
	font-weight: bolder;
}

.nav-bar span {
	display: inline-block;
	position: absolute;
	left: 0;
	padding: 1.5rem 2rem;
}

.nav-bar ul {
	display: inline-block;
	position: absolute;
	right: 0;
}

.nav-bar li {
	display: inline-block;
	position: relative;
	padding: 1.5rem 2rem;

	list-style: none;
}

.ads {
	background-color: salmon;
	display: inline-block;
	position: relative;
	width: 20vw;
	/* left: 0; */
}

.ads section {
	background-color: #c8c;
	margin: 2rem;
}

.content {
	background-color: gray;
	display: inline-block;
	position: absolute;
	width: 80vw;
	right: 0;
}

.foot {
	background-color: yellow;
}
