* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

nav-bar {
	background-color: #ccc;
}

.nav-bar ul {
	display: inline-block;
	right: 10px;
}

.ads {
	background-color: salmon;
}

.ads section {
	background-color: #c8c;
}

.content {
	background-color: gray;
}

.foot {
	background-color: yellow;
}
