* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
	background: #37488b;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
	color: white;

	position: sticky;
	top: 0;
	height: 8vh;
	/* margin: 0; */
	/* padding: 0.5em; */

	font-size: 2rem;
	font-weight: bolder;
}

.nav-bar .logo {
	position: absolute;
	display: inline-block;
	left: 0;
	margin: 1rem;

	width: 4rem;
	vertical-align: middle;
}

.nav-bar span {
	position: absolute;
	display: inline-block;
	left: 4rem;

	padding: 2vh 2rem;
}

.nav-bar ul {
	position: absolute;
	display: inline-block;
	right: 0;
}

.nav-bar li {
	display: inline-block;
	position: relative;
	padding: 2vh 2rem;

	list-style: none;
}

.ads {
	display: inline-block;
	position: relative;
	width: 20%;
	left: 0;
	height: 80vh;

	background-color: salmon;
	text-align: center;
}

.ads section {
	position: relative;
	height: 21%;
	margin: 10% 10%;
	padding: 25% 10%;

	background-color: #c8c;
	border-radius: 5px;
}

.content {
	background-color: gray;
	display: inline-block;
	position: absolute;
	width: 80%;
	right: 0;
	height: 80vh;
}

.content p {
	padding: 5%;
}

.foot {
	position: relative;
	height: 12vh;

	background-color: yellow;

	font-size: 1.2rem;
	font-style: italic;
}

.foot section {
	margin: 1rem 3rem;
}

.foot .company {
	position: absolute;
	left: 0;
	display: block;

	text-align: left;
}

.foot .company :first-child {
	font-weight: bold;
	text-transform: uppercase;
}

.foot .contact {
	position: absolute;
	right: 0;
	/* display: block; */

	text-align: right;
}

.foot .contact a {
	display: block;
}

.foot .contact :first-child {
	font-weight: bold;
	text-transform: uppercase;
}

.card__tittle {
	position: relative;
	top: 3vh;
	margin: 0 auto;
	width: 30vw;
	z-index: 1;
	border: solid black 4px;
	border-radius: 5px;
	background-color: #db2526;
	color: white;
	box-shadow: 0px 8px 15px 2px white;
}

.card__tittle h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	text-decoration: dashed;
	text-transform: capitalize;
}

.card__content {
	position: relative;
	margin: 0 auto;
	width: 40vw;
	height: 80vh;

	box-shadow: 8px 8px 15px 2px black;
	/* border: solid 3px white; */
	border-radius: 10px;
	background-color: grey;
	color: black;
}

.card__img {
	position: relative;
	z-index: 2;

	/* margin: 0 auto; */
	/* width: 10vw; */
}

.card__img img {
	position: relative;
	object-fit: cover;
	width: 40vw;
	height: 80vh;
}

.card__desc {
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	z-index: 3;

	position: relative;
	bottom: 35%;
	margin: 0 5% 5% 0;

	list-style: none;
}

.card__desc li {
	border: solid 2px black;
	/* background-color: #cad0e2;
	color: black; */
	background-color: rgb(24, 24, 148);
	color: white;

	margin: 1% 0;
	display: inline-block;
	box-shadow: -2px -2px 2px 1px black;
}
